bin/
obj/
.vs/
*.user
local.settings.json
history/
xref/
/src/Axxon.Integrator.AdminPortal/maps/Customer groups (msdyn_customergroups).json
/src/Axxon.Integrator.AdminPortal/maps/.Customer groups (msdyn_customergroups)_BASE_5337.json.swp
/src/Axxon.Integrator.AdminPortal/maps/.Customer groups (msdyn_customergroups)_LOCAL_5337.json.swp
/src/Axxon.Integrator.AdminPortal/maps/.Customer groups (msdyn_customergroups)_REMOTE_5337.json.swp
/src/Axxon.Integrator.AdminPortal/maps/.Customer groups (msdyn_customergroups).json.swp
/src/Axxon.Integrator.AdminPortal/maps/Customer groups (msdyn_customergroups)_BACKUP_5337.json
/src/Axxon.Integrator.AdminPortal/maps/Customer groups (msdyn_customergroups)_BACKUP_5606.json
/src/Axxon.Integrator.AdminPortal/maps/Customer groups (msdyn_customergroups)_BASE_5337.json
/src/Axxon.Integrator.AdminPortal/maps/Customer groups (msdyn_customergroups)_BASE_5606.json
/src/Axxon.Integrator.AdminPortal/maps/Customer groups (msdyn_customergroups)_LOCAL_5337.json
/src/Axxon.Integrator.AdminPortal/maps/Customer groups (msdyn_customergroups)_LOCAL_5606.json
/src/Axxon.Integrator.AdminPortal/maps/Customer groups (msdyn_customergroups)_REMOTE_5337.json
/src/Axxon.Integrator.AdminPortal/maps/Customer groups (msdyn_customergroups)_REMOTE_5606.json
